*.unity merge=unityyamlmerge
*.prefab merge=unityyamlmerge
*.anim merge=unityyamlmerge
*.controller merge=unityyamlmerge
*.asset merge=unityyamlmerge
*.meta merge=unityyamlmerge
"Assets/Art/3D/Textures/boss0_Church_latest/FACHADA_TEXTURES/ALBEDO_fachada church v1_fachada_geo_1.png" filter=lfs diff=lfs merge=lfs -text
"Assets/Art/3D/Textures/boss0_Church_latest/FACHADA_TEXTURES/NORMAL_fachada church v1_fachada_geo_1.png" filter=lfs diff=lfs merge=lfs -text
